{% extends 'base.html' %}

{% block title %}Create post{% endblock %}

{% block content %}

<!-- One -->
<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <form method="post" enctype="multipart/form-data" action="/create/article">
                <input name="art_author" placeholder="Article author" type="text">
                <input name="art_title" placeholder="Article title" type="text">
                <input name="art_text" placeholder="Article text" type="text">
                <button> new post</button>
            </form>


        </header>
    </div>
</section>
{% endblock %}