{% extends 'base.html' %}

{% block title %}Create user{%endblock%}

{% block content %}
<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h1>Create user</h1>

            <form method="post" enctype="multipart/form-data" action="/create/user">
                <div class="input-container">
                    <input name='user_name' placeholder="User name" type="text">
                </div>
                <div class="input-container">
                    <input name="user_email" placeholder="Email" type="email">
                </div>
                <div class="input-container">
                    <input name="user_tel" placeholder="Telephone" type="text">
                </div>
                <div class="input-container">
                    <input name="user_password" placeholder="Password" type="password">
                </div>
                <div class="input-container">
                    <input name="user_rep_pass" placeholder="Confirm Password" type="password">
                </div>
                <div class="input-container">
                    <label for="avatar">Аватарка</label>
                    <input type="file" id="avatar" name="user_avatar">
                </div>
                <button type="submit"> Register</button>
            </form>
        </header>
    </div>
</section>
{% endblock %}