<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="static/assets/css/main.css" />
</head>
<body>
<form method="post" action="/create/user">
    <input name='user_name' placeholder="User name" type="text">
    <input name="user_email" placeholder="Email" type="email">
    <input name="user_tel" placeholder="Telephone" type="tel">
    <input name="user_password" placeholder="Password" type="password">
    <input name="user_rep_pass" placeholder="Confirm Password" type="password">
    <input name="user_avatar" placeholder="Avatar" type="file">
    <button> new post </button>
</form>
</body>
</html>