<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form method="post" action="/create/user">
    <input name='user_name' placeholder="User name" type="text">
    <input name="user_email" placeholder="Email" type="text">
    <input name="user_tel" placeholder="Telephone" type="text">
    <input name="user_password" placeholder="Password" type="text">
    <input name="user_rep_pass" placeholder="Repetir Password" type="text">
    <input name="user_avatar" placeholder="Avatar" type="text">
    <button> new post </button>
</form>

</body>
</html>